interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?game_id=95&page=1&limit=50&orderBy=most-popular
    response:
      body:
        string:
          '{"data":[{"id":4702,"nome":"Merge Survival : Wasteland","slug":"merge-survival-wasteland","logo":"common\/uploads\/icons\/0077d9559dfe98b3c9f41ff214f89fb3.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-0077d9559dfe98b3c9f41ff214f89fb3.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-9141919e75de7242a2a2d99002e9a088.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-9141919e75de7242a2a2d99002e9a088.webp","usuario_favorito":false,"usuario_votou":null,"categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":26,"nome":"Match-3","slug":"match-3","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Merge
          Survival : Wasteland is a free 2D Puzzle Match-3 game available on Android
          and iOS. It\u2019s a singleplayer experience that can be played online in
          portrait mode. It has received 1 user rating from the MiniReview community.
          Merge Survival : Wasteland was released in May 2023 and has a current rating
          of 4.6 out of 5.0 on Google Play and 4.7 out of 5.0 on the iOS App Store.","price":"Free","galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/721f38ad5adfa64b5c25892e6c20a8c6.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/721f38ad5adfa64b5c25892e6c20a8c6.jpg","imagem_zoom":"\/common\/uploads\/cache\/review\/5-1500-1500-721f38ad5adfa64b5c25892e6c20a8c6.webp"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/20c8e82875e17c91aa58c8359479fbcc.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/20c8e82875e17c91aa58c8359479fbcc.jpg","imagem_zoom":"\/common\/uploads\/cache\/review\/5-1500-1500-20c8e82875e17c91aa58c8359479fbcc.webp"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/79ec4de06f8e4ba6fd255a9ae4ab3a55.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/we[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?game_id=95&page=1&limit=50&orderBy=most-popular&platforms%5B0%5D=android&platforms%5B1%5D=ios
    response:
      body:
        string:
          '{"data":[{"id":4702,"nome":"Merge Survival : Wasteland","slug":"merge-survival-wasteland","logo":"common\/uploads\/icons\/0077d9559dfe98b3c9f41ff214f89fb3.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-0077d9559dfe98b3c[...]
