interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/categories?platforms%5B0%5D=android&platforms%5B1%5D=ios
    response:
      body:
        string:
          '{"data":[{"id":1,"nome":"Action","slug":"action","total":640,"thumb":"\/common\/uploads\/cache\/categoria\/4-62-42-59efb017c198dc333fd35a608ab9f68b.webp","thumb_preloader":"\/common\/uploads\/cache\/categoria\/4-31-21-59efb017c198dc333fd35a608ab9f68b.webp"},{"id":2,"nome":"Adventure","slug":"adventure","total":664,"thumb":"\/common\/uploads\/cache\/categoria\/4-62-42-c477dda6b811a438767f3110cf1ff35e.webp","thumb_preloader":"\/common\/uploads\/cache\/categoria\/4-31-21-c477dda6b811a438767f3110cf1ff35e.webp"},{"id":3,"nome":"Arcade","slug":"arcade","total":485,"thumb":"\/common\/uploads\/cache\/categoria\/4-62-42-26331b60dcffe4859f52093532aab15b.webp","thumb_preload[...]
