interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar/rota_acao?acao=main-page&platforms%5B%5D=android
    response:
      body:
        string:
          '{"banners":[{"id":231,"nome":"Free Fire - Light Fest","slug":"free-fire-the-chaos","thumb":"\/common\/uploads\/cache\/review\/1-795-441-037aa9e851183b844d3f6e16d04bca9d.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-037aa9e851183b844d3f6e16d04bca9d.webp","categoria":{"id":28,"nome":"Battle
          Royale","slug":"battle-royale"},"total":25},{"id":675,"nome":"8 Ball Pool","slug":"8-ball-pool","thumb":"\/common\/uploads\/cache\/review\/1-795-441-502fc6fcdbd20650bcc5a62db2447494.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-502fc6fcdbd20650bcc5a62db2447494.webp","categoria":{"id":14,"nome":"Sports","slug":"sports"},"total":25},{"id":981,"nome":"Stardew
          Valley","slug":"stardew-valley","thumb":"\/common\/uploads\/cache\/review\/1-795-441-dv2sdsv33232sv4dd2bbbbv3a32-5649371.webp","thumb_preloader":"\/co[...]
