interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?type=our-pick&page=1&limit=50&orderBy=pick-date&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"id":6197,"nome":"Mechanical Lab","slug":"mechanical-lab","logo":"https:\/\/play-lh.googleusercontent.com\/GCFJqnU1uTSPRvUeN2BLuvcy0qRtAtbkiFJRGUSbt84WPo9jVW6j-sMdKOINGpNK8tg","logo_preloader":"https:\/\/play-lh.googleusercontent.com\/GCFJqnU1uTSPRvUeN2BLuvcy0qRtAtbkiFJRGUSbt84WPo9jVW6j-sMdKOINGpNK8tg","thumb":"\/common\/uploads\/cache\/review\/1-900-498-sem-titdssdsdulo-1-9773232.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titdssdsdulo-1-9773232.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":null,"usuario_favorito":false,"categoria":{"id":13,"nome":"Simulation","slug":"simulation"},"categorias":[{"id":13,"nome":"Simulation","slug":"simulation","type":"category"},{"id":27,"nome":"Physics-Based","slug":"physics-based","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":false,"descricao":"Mechanical
          Lab is a paid 2D Simulation Physics-Based game available on Android. It\u2019s
          a singleplayer experience that can be played offline in landscape mode. Mechanical
          Lab was released in June 2025.","morto_data":null,"pick_data":null,"semana":null,"galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-6-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-6-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-6-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-7-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-7-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-7-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-5-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-5-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-5-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-1-9442480.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-1-9442480.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-1-9442480.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-8-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-8-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-8-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-9-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-9-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-9-9442481.jpg"}],"price":"$5.49"},{"id":6193,"nome":"Just
          King","slug":"just-king","logo":"common\/uploads\/icons\/cf1dec6b49c049365040c750ca46c357.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-cf1dec6b49c049365040c750ca46c357.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-new-project-18-9270856.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-new-project-18-9270856.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":null,"usuario_favorito":false[...]
