interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/home?page=2&orderBy=new-on-minireview&platforms%5B0%5D=android&ids_ignore=1%2C2%2C3
    response:
      body:
        string:
          '{"data":[{"tipo":"user-collections","titulo":"User Collections (new
          feature)","slug":"user-collections-new-feature","link":"\/collections","itens":[{"id":1275,"title":"Potrait
          Mode","title_original":"Potrait Mode","slug":"potrait-mode","image":"\/common\/uploads\/cache\/review\/1-900-498-cbfddb371f57f9ca438ece813c9393a0.webp","image_preloader":"\/common\/uploads\/cache\/review\/1-30-17-cbfddb371f57f9ca438ece813c9393a0.webp","created_at":"2025-10-20
          14:06:14","likes_total":3,"games_total":8,"usuario_curtiu":false,"usuario":{"id":59836,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-1000500554-979716.webp","username":"SCI3R","slug":"sci3r","nome":"SCI3R"},"games":[{"id":627,"logo":"common\/uploads\/icons\/6b832963dc512c939a3a06e11b43a60a.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-6b832963dc512c939a3a06e11b43a60a.webp","cover":"cbfddb371f57f9ca438ece813c9393a0.webp"},{"id":1019,"logo":"common\/uploads\/icons\/8d40f3a13a3a2973b730f3113d5cf617.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-8d40f3a13a3a2973b730f3113d5cf617.webp","cover":"download-17-3790580.jpg"},{"id":619,"logo":"common\/uploads\/icons\/e7a342bf61a0b9c7b5d856c27042fe25.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-e7a342bf61a0b9c7b5d856c27042fe25.webp","cover":"aa6c958af80996fb6e4cbd3891d136c4.jpg"}]},{"id":1274,"tit[...]
