interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/top-user-ratings?page=1&limit=50&orderBy=this-week&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"id":12609,"tipo":"positivo","data":"2025-10-13 05:35:12","texto":"All-time
          Puzzle \/ Adventure game! Can be played in both orientations and controller
          support. One for the books for sure","texto_original":"All-time Puzzle \/
          Adventure game! Can be played in both orientations and controller support.
          One for the books for sure","total_likes":"2","sort_by":"this week","jogo":{"id":2623,"nome":"The
          Gardens Between","slug":"the-gardens-between","logo":"common\/uploads\/icons\/566dd25f53050e6c94d28139652abe9f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-566dd25f53050e6c94d28139652abe9f.webp","categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true},"usuario":{"id":15988,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-1000203873-121166.webp","username":"Sh1n","slug":"sh1n","nome":"Sh1n","sobre":"yo","sobre_original":"yo","data_cadastro":"2023-01-09
          12:12:39","score":27,"total_avaliacoes":24,"total_favoritos":23,"pais_nome":"Philippines","pais_sigla":"PH"}},{"id":10308,"tipo":"positivo","data":"2025-02-23
          16:16:41","texto":"Pretty good, it''s akin to the old game tactikon that was
          round a while ago. There is a huuuuuge amount of units and tech trees, for
          example the undead have the generic raising dead enemies into their skeleton
          equivalent with upgrades that makes the skeletons better, but then there''s
          also an upgrade that will make them raise skeleton monsters instead that are
          st[...]
