interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?type=games-of-the-week&page=1&limit=1&orderBy=week&platforms%5B0%5D=android&players=singleplayer&network=online&monetization_android=no-ads&monetization_ios=no-ads&screen_orientation=portrait&category=action&sub_category=action&tags=2d&countries_android=af&countries_ios=af&score=gameplay-5%2Ccontrols-5%2Cgraphics-5%2Cmonetization-5
    response:
      body:
        string:
          '{"data":[{"id":5913,"nome":"TMNT: Shredder''s Revenge","slug":"tmnt-shredder-s-revenge-playdigious","logo":"common\/uploads\/icons\/4fc2dde9fd334a4ac9b1360d6e8dc3b9.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-4fc2dde9fd334a4ac9b1360d6e8dc3b9.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-tmnt-netflix-6711023.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-tmnt-netflix-6711023.webp","avaliacoes_total":7,"avaliacoes_positivas_porcento":100,"nota":"9.5","usuario_favorito":false,"categoria":{"id":1,"nome":"Action","slug":"action"},"categorias":[{"id":1,"nome":"Action","slug":"action","type":"category"},{"id":19,"nome":"Fighting","slug":"fighting","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"TMNT:
          Shredder''s Revenge is a modern beat ''em up action fighting game with online
          co-op multiplayer that pays homage to its old-school arcade predecessors -
          especially the SNES classic TMNT: Turtles in Time.\r\n\r\nTrue to the traditional
          beat \u2018em up formula, the gameplay has us continuously walking to the
          right side while smashing every enemy in our path. And in addition to the
          four main turtles, there are six extra playable ch[...]
