interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/collections?page=1&limit=1&orderBy=most-popular&loadNewcollections=1&loadLastUpdatedcollections=1
    response:
      body:
        string:
          '{"data":[{"id":179,"title":"Touchscreen controls done right on Mobile","title_original":"Touchscreen
          controls done right on Mobile","slug":"touchscreen-controls-can-be-a-plus","image":"\/common\/uploads\/cache\/review\/1-900-498-balatro-8907460.webp","image_preloader":"\/common\/uploads\/cache\/review\/1-30-17-balatro-8907460.webp","created_at":"2025-03-06
          06:14:56","likes_total":51,"games_total":74,"usuario_curtiu":false,"usuario":{"id":23842,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-super-smash-bros-ultimate-logo-586178.webp","username":"Maya","slug":"maya","nome":"Maya"},"games":[{"id":5612,"logo":"common\/uploads\/icons\/aed16d2f07c1b7e0c1bda13aec9b17da.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-aed16d2f07c1b7e0c1bda13aec9b17da.webp","cover":"balatro-8907460.jpg"},{"id":4155,"logo":"common\/uploads\/icons\/ca867847731cb71489b9d5260503209f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-ca867847731cb71489b9d5260503209f.webp","cover":"273583b269580a989659e91365ed7d9a.jpg"},{"id":938,"logo":"common\/uploads\/icons\/712235bb48787baf904f31e376f9753c.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-712235bb48787baf904f31e376f9753c.webp","cover":"9bd25e3f250970ae682728e823c10194.jpg"}]}],"page":1,"total":291,"ultima_pagina":false,"new_collections":[{"id":1259,"title":"Wishlist","title_original":"Wishlist","slug":"wishlist-1259","image":"\/common\/uploads\/cache\/review\/1-900-498-sem-titulo-1-4754024.webp","image_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titulo-1-4754024.webp","created_at":"2025-10-16
          17:47:49","likes_total":1,"games_total":8,"usuario_curtiu":false,"usuario":{"id":59537,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-Sabastian
          Sultz79169.webp","username":"Sabastiansultz","slug":"sa[...]
