interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?type=games-of-the-week&page=1&limit=50&orderBy=last-added-reviews&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"id":6077,"nome":"Friday Night Funkin''","slug":"friday-night-funkin","logo":"common\/uploads\/icons\/e5e07f148e806f24465d389ddfafeca5.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-e5e07f148e806f24465d389ddfafeca5.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-sem-titdsusdsdlo-1-4914165.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titdsusdsdlo-1-4914165.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":"8.3","usuario_favorito":false,"categoria":{"id":8,"nome":"Music","slug":"music"},"categorias":[{"id":8,"nome":"Music","slug":"music","type":"category"},{"id":33,"nome":"Rhythm","slug":"rhythm","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Friday
          Night Funkin&#39; Mobile is a fun retro-styled rhythm game that started as
          a massive browser game hit before now getting ported to mobile.\r\n\r\nWe
          play as a boy battling against his girlfriend&rsquo;s dad and the quirky people
          he sends after us, except every &ldquo;fight&rdquo; is actually a singing
          battle where we must match the notes they sing.\r\n\r\nThe simple gameplay
          has us tap to hit the notes falling from the top of th[...]
