interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?game_id=95&page=1&limit=1&platforms%5B0%5D=android&monetization=free&players=singleplayer&screen-orientation=landscape
    response:
      body:
        string:
          '{"data":[{"id":5143,"nome":"Strongblade: Match 3 Game","slug":"strongblade-match-3-game","logo":"common\/uploads\/icons\/c143fa057256b4c95cd1ee2fa34270d7.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-c143fa057256b4c95cd1ee2fa34270d7.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-strongblade-minireview-4361328-4911999.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-strongblade-minireview-4361328-4911999.webp","usuario_favorito":false,"usuario_votou":null,"categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":26,"nome":"Match-3","slug":"match-3","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"StrongBlade
          is a cute offline-playable match-3 game where we play as a mouse traveling
          through a colorful world full of devious villains and friendly animal characters.\r\n\r\nThe
          core gameplay involves entering a level, matching tiles to complete its objective,
          spending the stars we earn to improve our camp, and then continuing to the
          next level.\r\n\r\nAs in all match-3 games, matching more than three tiles
          creates a special tile tha[...]
