interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/upcoming-games?page=1&limit=50&orderBy=launch-date&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"id":384,"nome":"Brave Frontier Versus","slug":"brave-frontier-versus","logo":"common\/uploads\/upcominggame\/97a13c79ed29540217b8ffbb113cf757.webp","logo_preloader":"\/common\/uploads\/cache\/upcominggame\/1-30-30-97a13c79ed29540217b8ffbb113cf757.webp","launch_date":"Oct
          22, 2025","added_date":"This month","is_android":true,"is_ios":true,"fuel_percent":0,"fuel_count":0,"categoria":{"id":32,"nome":"CCG","slug":"ccg"},"categorias":[{"id":32,"nome":"CCG","slug":"ccg","type":"category"},{"id":60,"nome":"Deck-Building","slug":"deck-building","type":"subcategory"}],"price":"Free
          to Play"},{"id":332,"nome":"TOEM: A Photo Adventure","slug":"toem-a-photo-adventure","logo":"common\/uploads\/upcominggame\/c648228f0da6e1f28dd0cf29292cd35f.webp","logo_preloader":"\/common\/uploads\/cache\/upcominggame\/1-30-30-c648228f0da6e1f28dd0cf29292cd35f.webp","launch_date":"Oct
          22, 2025","added_date":"2 months ago","is_android":true,"is_ios":true,"fuel_percent":4,"fuel_count":7,"categoria":{"id":2,"nome":"Adventure","slug":"adventure"},"categorias":[{"id":2,"nom[...]
