interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/general/rota_acao?acao=get-side-content&platforms%5B%5D=android&c%5B%5D=reviews&c%5B%5D=topgames
    response:
      body:
        string:
          '{"reviews":[{"id":5184,"nome":"Lunar Silver Star Story Touch","slug":"lunar-silver-star-story-touch","logo":"common\/uploads\/icons\/bf3b6984e0ddff6d036292de573ff54f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-bf3b6984e0ddff6d036292de573ff54f.webp","categoria":{"id":12,"nome":"Role
          Playing","slug":"role-playing"},"categorias":[{"id":12,"nome":"Role Playing","slug":"role-playing","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"price":"$11.99"},{"id":6136,"nome":"Kaamos","slug":"kaamos","logo":"common\/uploads\/icons\/0f2f30096c440bbea0df358d163dd061.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-0f2f30096c440bbea0df358d163dd061.webp","categoria":{"id":35,"nome":"Deck-Building","slug":"deck-building"},"categorias":[{"id":35,"nome":"Deck-Building","slug":"deck-building","type":"category"},{"id":16,"nome":"Dungeon
          Crawler","slug":"dungeon-crawler","type":"subcategory"}],"disponivel_android":true,"dis[...]
