interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/upcoming-games?page=2&limit=10&orderBy=release-date&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"id":373,"nome":"Legend of YMIR","slug":"legend-of-ymir","logo":"common\/uploads\/upcominggame\/fa1abaaf2c997e6d5bb68f11bfb1dc0f.webp","logo_preloader":"\/common\/uploads\/cache\/upcominggame\/1-30-30-fa1abaaf2c997e6d5bb68f11bfb1dc0f.webp","launch_date":"Oct
          31, 2025","added_date":"1 month ago","is_android":true,"is_ios":true,"fuel_percent":1,"fuel_count":1,"categoria":{"id":23,"nome":"MMORPG","slug":"mmorpg"},"categorias":[{"id":23,"nome":"MMORPG","slug":"mmorpg","type":"category"},{"id":2,"nome":"Action","slug":"action","type":"subcategory"}],"price":"Free
          to Play"},{"id":310,"nome":"Fight School Simulator","slug":"fight-school-simulator","logo":"common\/uploads\/upcominggame\/2a83b932666944d3f52ba97c11bb6200.webp","logo_preloader":"\/common\/uploads\/cache\/upcominggame\/1-30-30-2a83b932666944d3f52ba97c11bb6200.webp","launch_date":"Oct
          31, 2025","added_date":"3 months ago","is_android":true,"is_ios":true,"fuel_percent":0,"fuel_count":0,"categoria":{"id":1,"nome":"Action","slug":"action"},"categorias":[{"id":1,"nome":"Act[...]
