interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/home?page=1&orderBy=last-added-reviews&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"tipo":"jogos","titulo":"Last added reviews","slug":"last-added-reviews","link":"\/browse?sort=last-added-reviews","itens":[{"id":6168,"nome":"QB
          - a cube''s tale","slug":"qb-a-cube-s-tale","logo":"common\/uploads\/icons\/965b0c8a96aad0efaa3e6b72ba7f5c28.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-965b0c8a96aad0efaa3e6b72ba7f5c28.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-qb-a-cubes-tale-minireview-9394273.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-qb-a-cubes-tale-minireview-9394273.webp","nota":"7.5","usuario_favorito":false,"categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":11,"nome":"Casual","slug":"casual","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"QB
          - a cube&#39;s tale is a well-made puzzle game that introduces a few new concepts
          to the good old &ldquo;push a cube around a small level&rdquo; gameplay formula.\r\n\r\nThe
          goal in each level is to find a way to push our black cube onto a black platform
          by moving it left, right, up, and down. But as we move around the level, we
          also land on various special tiles that demolish, move, or transform part
          of the map itself.\r\n\r\nThis [...]
