interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/collections?page=1&limit=1&search=rpg&orderBy=newest&loadNewcollections=1&loadLastUpdatedcollections=0
    response:
      body:
        string:
          '{"data":[{"id":52,"title":"Premium RPGs","title_original":"Premium
          RPGs","slug":"premium-rpgs","image":"\/common\/uploads\/cache\/review\/1-900-498-b14e7d5e7194ade83903e287ff5809b4.webp","image_preloader":"\/common\/uploads\/cache\/review\/1-30-17-b14e7d5e7194ade83903e287ff5809b4.webp","created_at":"2025-02-20
          12:06:04","likes_total":22,"games_total":33,"usuario_curtiu":false,"usuario":{"id":32772,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-Paul
          Nichols41409.webp","username":"Ransom","slug":"ransom","nome":"Ransom"},"games":[{"id":1422,"logo":"common\/uploads\/icons\/e98b90aba09122b3e134046c756080fb.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-e98b90aba09122b3e134046c756080fb.webp","cover":"b14e7d5e7194ade83903e287ff5809b4.jpg"},{"id":1642,"logo":"common\/uploads\/icons\/291acdf1f83e42d8cd96d576b5b1797f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-291acdf1f83e42d8cd96d576b5b1797f.webp","cover":"aaf0f9a8bf3158f20e7704fb17544aa1.jpg"},{"id":4077,"logo":"common\/uploads\/icons\/d0af92d20851e3abdd9e38f9c1bb86df.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-d0af92d20851e3abdd9e38f9c1bb86df.webp","cover":"411e35259ff7f8aa8429c654b2f87913.jpg"}]}],"page":1,"total":19,"ultima_pagina":false,"new_collections":[{"id":1259,"title":"Wishlist","title_original":"Wishlist","slug":"wishlist-1259","image":"\/common\/uploads\/cache\/review\/1-900-498-sem-titulo-1-4754024.webp","image_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titulo-1-4754024.webp","created_at":"2025-10-16
          17:47:49","likes_total":1,"games_total":8,"usuario_curtiu":false,"usuario":{"id":59537,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-Sabastian
          Sultz79169.webp","username":"Sabastiansultz","slug":"sa[...]
