interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/top-user-ratings?page=1&limit=50&orderBy=this-week&platforms%5B%5D=android
    response:
      body:
        string:
          '{"data":[{"id":12609,"tipo":"positivo","data":"2025-10-13 05:35:12","texto":"All-time
          Puzzle \/ Adventure game! Can be played in both orientations and controller
          support. One for the books for sure","texto_original":"All-time Puzzle \/
          Adventure game! Can be played in both orientations and controller support.
          One for the books for sure","total_likes":"2","sort_by":"this week","jogo":{"id":2623,"nome":"The
          Gardens Between","slug":"the-gardens-between","logo":"common\/uploads\/icons\/566dd25f53050e6c94d28139652abe9f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-566dd25f53050e6c94d28139652abe9f.webp","categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true},"usuario":{"id":15988,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-1000203873-121166.webp","username":"Sh1n","slug":"sh1n","nome":"Sh1n","sobre":"yo","sobre_original":"yo","data_cadastro":"2023-01-09
          12:12:39","score":27,"total_avaliacoes":24,"total_favoritos":23,"pais_nome":"Philippines","pais_sigla":"PH"}},{"id":12593,"tipo":"positivo","data":"2025-10-11
          16:17:44","texto":"Both 1 & 2 kept me engaged the whole way through.","texto_original":"Both
          1 & 2 kept me engaged the whole way through.","total_likes":"2","sort_by":"this
          week","jogo":{"id":2985,"nome":"Lowlander","slug":"lowlander","logo":"common\/uploads\/icons\/d55e6d70d22caf6a1d381fdf519d6441.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-d55e6d70d22caf6a1d381fdf519d6441.webp","categoria":{"id":12,"nome":"Role
          Playing","slug":"role-playing"},"categorias":[{"id":12,"nome":"Role Playing","slug":"role-playing","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true},"usuario":{"id":1909,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-screenshot-20240401-090733-min-984102.webp","username":"JBMessin","slug":"jbmessin-1","nome":"JBMessin","sobre":"I
          love reviewing mostly role playing, roguelike and space sim games. All time
          favorites: Dwarf Fortress, Cataclysm: Dark Days Ahead, Warsim and Aurora C#","sobre_original":"I
          love reviewing mostly role playing, roguelike and space sim games. All time
          favorites: Dwarf Fortress, Cataclysm: Dark Days Ahead, Warsim and Aurora C#","data_cadastro":"2020-10-21
          11:34:14","score":84,"total_avaliacoes":51,"total_favoritos":45,"pais_nome":"United
          States","pais_sigla":"US"}},{"id":12641,"tipo":"positivo","data":"2025-10-16
          11:30:04","texto":"Ba[...]
