interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-ratings?game_id=95&page=2&type=positive&limit=10&orderBy=oldest
    response:
      body:
        string:
          '{"data":[{"id":531,"root_id":null,"parent_id":null,"tipo":"positivo","data":"2020-06-25T22:32:14-03:00","texto":"very
          addictive, don t be too far away from a power source, drain battery quickly.
          good game that will take lots of hours away from your life :) ","texto_original":"very
          addictive, don t be too far away from a power source, drain battery quickly.
          good game that will take lots of hours away from your life :) ","pontuacao":1,"usuario_votou":null,"usuario":{"id":312,"avatar":null,"username":"Benoit
          Noisette","slug":"benoit-noisette","nome":"Benoit Noisette","data_cadastro":"2020-06-04
          18:49:57","score":1,"total_avaliacoes":1,"total_favoritos":3,"pais_nome":null,"pais_sigla":null},"total_replies":0}],"page":2,"total":1,"total_positivo":1,"total_negativo":0,"porcento":0,"usuario_avaliacao":null,"ultima_pagina":true}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
