interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/top-user-ratings?page=2&limit=10&orderBy=all-time&platforms%5B0%5D=android
    response:
      body:
        string:
          '{"data":[{"id":8761,"tipo":"negativo","data":"2024-08-14 01:17:16","texto":"The
          game is great save one glaring flaw. That many non-cosmetic microtransactions
          on a already expensive mobile game is just toxic.","texto_original":"The game
          is great save one glaring flaw. That many non-cosmetic microtransactions on
          a already expensive mobile game is just toxic.","total_likes":"12","sort_by":"","jogo":{"id":5525,"nome":"Kingdom
          Rush 5: Alliance TD","slug":"kingdom-rush-5-alliance-td","logo":"common\/uploads\/icons\/bf50d8ad1c26e429720b154605ed775d.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-bf50d8ad1c26e429720b154605ed775d.webp","categoria":{"id":25,"nome":"Tower
          Defense","slug":"tower-defense"},"categorias":[{"id":25,"nome":"Tower Defense","slug":"tower-defense","type":"category"},{"id":41,"nome":"Strategy","slug":"strategy","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true},"usuario":{"id":22319,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-corbin-clarke16611.webp","username":"68wishicould","slug":"68wishicould","nome":"68wishicould","sobre":null,"sobre_original":null,"data_cadastro":"2024-08-14
          01:13:31","score":12,"total_avaliacoes":1,"total_favoritos":0,"pais_nome":null,"pais_sigla":null}},{"id":8362,"tipo":"positivo","data":"2024-05-29
          05:36:32","texto":"I wanted to like Genshin but could not, because of the
          design of the chars (most of the cast is kids) and the shallow combat. This
          game improves a lot both those things,and with a better and more fluid exploration.
          Perfect for action game fans","texto_original":"I wanted to like Genshin but
          could not, because of the design of the chars (most of the cast is kids) and
       [...]
