interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/top-games?page=1&limit=50
    response:
      body:
        string:
          '{"data":[{"id":100001,"nome":"Best mobile games 2025","nome_lista":"Best
          mobile games 2025","slug":"\/best-mobile-games","thumb":"\/common\/uploads\/cache\/specialtopgame\/1-900-506-c103a23c4c18b8eae6f43087d4634016.webp","thumb_preloader":"\/common\/uploads\/cache\/specialtopgame\/1-30-17-c103a23c4c18b8eae6f43087d4634016.webp","data_criacao":"2025-07-28
          09:30:10","data_update":"2025-10-17 09:45:02"},{"id":47,"nome":"The 18 best
          Strategy War games on Mobile 2025","nome_lista":"Best Strategy War games on
          mobile","slug":"best-strategy-war-games-mobile","thumb":"\/common\/uploads\/cache\/topgame\/1-900-506-adf14c96fb467b3d2673350493addb0a.webp","thumb_preloader":"\/common\/uploads\/cache\/topgame\/1-30-17-adf14c96fb467b3d2673350493addb0a.webp","data_criacao":"2025-03-10","data_update":"2025-10-08
          09:51:16"},{"id":4,"nome":"The 17 best crosspl[...]
