interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/home?page=1&orderBy=last-added-reviews&platforms%5B%5D=android
    response:
      body:
        string:
          '{"data":[{"tipo":"jogos","titulo":"Last added reviews","slug":"last-added-reviews","link":"\/browse?sort=last-added-reviews","itens":[{"id":5184,"nome":"Lunar
          Silver Star Story Touch","slug":"lunar-silver-star-story-touch","logo":"common\/uploads\/icons\/bf3b6984e0ddff6d036292de573ff54f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-bf3b6984e0ddff6d036292de573ff54f.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-lunar9-6866449.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-lunar9-6866449.webp","nota":"8.0","usuario_favorito":false,"categoria":{"id":12,"nome":"Role
          Playing","slug":"role-playing"},"categorias":[{"id":12,"nome":"Role Playing","slug":"role-playing","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Lunar
          Silver Story Touch is an excellent port of one of the most iconic JRPGs of
          the &#39;90s.\r\n\r\nIt features fantastic animated cutscenes, strong voice
          acting, a beautiful soundtrack, charming pixel art, and a wonderful story
          of adventure and romance sprinkled with lighthearted humor.\r\n\r\nThat said,
          it&rsquo;s worth noting that the voice acting and songs of this release come
          from the PSP version rather than the PS1 version. In [...]
