interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/upcoming-games?page=1&limit=1&orderBy=release-date&platforms%5B0%5D=android&platforms%5B1%5D=ios
    response:
      body:
        string:
          '{"data":[{"id":247,"nome":"TOWER KING\uff5cBuilding Simulation","slug":"tower-king","logo":"common\/uploads\/upcominggame\/7bccd40da0b7de928ac916de8912371e.webp","logo_preloader":"\/common\/uploads\/cache\/upcominggame\/1-30-30-7bccd40da0b7de928ac916de8912371e.webp","launch_date":"Oct
          24, 2025","added_date":"5 months ago","is_android":true,"is_ios":true,"fuel_percent":2,"fuel_count":6,"categoria":{"id":13,"nome":"Simulation","slug":"simulation"},"categorias":[{"id":13,"nome":"Simulation","slug":"simulation","type":"category"},{"id":24,"nome":"Management","slug":"management","type":"subcategory"}],"price":"Free
          to Play"}],"data_recently_released":[{"id":255,"nome":"Qubicks","slug":"qubicks","logo":"common\/uploads\/upcominggame\/e94d1c8b34ba99914de14dd3094dd4f8.webp","logo_preloader":"\/common\/uploads\/cache\/upcominggame\/1-30-30-e94d1c8b34ba99914de14dd3094dd4f8.webp","launch_date":"Released
          (Oct 21, 2025)","is_android":true,"is_ios":true,"fuel_percent":0,"fuel_count":0,"categoria":{"id":25,"nome":"Tower
          Defense","slug":"tower-defense"},"categorias":[{"id":25,"nome":"Tower Defense","slug":"tower-defense","type":"cat[...]
