interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?limit=1
    response:
      body:
        string:
          '{"data":[{"id":6218,"nome":"Miscrits","slug":"miscrits","logo":"common\/uploads\/icons\/04300adb321c46f431168aa56f73ee21.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-04300adb321c46f431168aa56f73ee21.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-a-9-0655900.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-a-9-0655900.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":null,"usuario_favorito":false,"categoria":{"id":12,"nome":"Role
          Playing","slug":"role-playing"},"categorias":[{"id":12,"nome":"Role Playing","slug":"role-playing","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":false,"disponivel_ios":true,"descricao":"Miscrits
          is a free 2D Role Playing Adventure game available on iOS. It\u2019s a single
          and multiplayer experience that can be played online in landscape mode. Miscrits
          was released in July 2025 and has a current rating of 4.8 out of 5.0 on iOS
          App Store.","morto_data":null,"pick_data":null,"semana":null,"galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-8-0655525.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-8-0655525.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-8-0655525.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-4-0655524.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-4-0655524.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-4-0655524.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-5-0655524.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-5-0655524.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-5-0655524.jpg"},{"imagem":"\/thumb\/review\/1\/[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?page=1&limit=1&orderBy=last-added-reviews
    response:
      body:
        string:
          '{"data":[{"id":6174,"nome":"A Little to the Left: Drawers","slug":"a-little-to-the-left-drawers","logo":"common\/uploads\/icons\/581c125a3902f57bdf400b5f7a26b0c1.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-581c125a3902f57bdf400b5f7a26b0c1.webp","thumb":"\/common\/uploads\/cac[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?game_id=6174&page=1&limit=1
    response:
      body:
        string:
          '{"data":[{"id":5854,"nome":"soupsoup","slug":"soupsoup","logo":"common\/uploads\/icons\/9b99c8ee51f1b8df502722c685029b7f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-9b99c8ee51f1b8df502722c685029b7f.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-de87cdd25c65e82b941fac76deds7v3a0945-2482498.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-de87cdd25c65e82b941fac76deds7v3a0945-2482498.webp","usuario_favorito":false,"usuario_votou":null,"categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":11,"nome":"Casual","slug":"casual","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"soupsoup
          is a free 2D Puzzle Casual game available on Android and iOS. It\u2019s a
          singleplayer experience that can be played offline in portrait mode. It has
          received 2 user ratings from the MiniReview community. soupsoup was released
          in December 2022 and has a current rating of 4.7 out of 5.0 on Google Play
          and 4.6 out of 5.0 on the iOS App Store.","price":"Free","galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-3-1643942.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-3-1643942.jpg","imagem_zoom":"\/common\/uploads\/cache\/review\/5-1500-1500-a-3-1643942.webp"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-6-1643942.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-6-1643942.jpg","imagem_zoom":"\/common\/uploads\/cache\/review\/5-1500-1500-a-6-1643942.webp"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-5-1[...]
