interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/top-user-ratings?page=1&limit=1&orderBy=this-week&platforms%5B0%5D=android&platforms%5B1%5D=ios
    response:
      body:
        string:
          '{"data":[{"id":12645,"tipo":"positivo","data":"2025-10-18 16:36:27","texto":"Fun
          puzzler. Seems pretty linear at first, but around lvl 30 the different blocks
          are introduced and at least the three star solution no longer obvious. Simple,
          solid, challenging.","texto_original":"Fun puzzler. Seems pretty linear at
          first, but around lvl 30 the different blocks are introduced and at least
          the three star solution no longer obvious. Simple, solid, challenging.","total_likes":"4","sort_by":"this
          week","jogo":{"id":6168,"nome":"QB - a cube''s tale","slug":"qb-a-cube-s-tale","logo":"common\/uploads\/icons\/965b0c8a96aad0efaa3e6b72ba7f5c28.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-965b0c8a96aad0efaa3e6b72ba7f5c28.webp","categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":11,"nome":"Casual","slug":"casual","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true},"usuario":{"id":5164,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-1000043664-748805.webp","username":"relet","slug":"relet","nome":"relet","sobre":"150
          character limit","sobre_original":"150 character limit","data_cadastro":"2021-05-24
          23:48:39","score":585,"total_avaliacoes":349,"total_favoritos":4,"pais_nome":"Norway","pais_sigla":"NO"}}],"page":1,"total":97,"ultima_pagina":false}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
