interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/home?page=1&orderBy=last-added-reviews&platforms%5B0%5D=android&platforms%5B1%5D=ios
    response:
      body:
        string:
          '{"data":[{"tipo":"jogos","titulo":"Last added reviews","slug":"last-added-reviews","link":"\/browse?sort=last-added-reviews","itens":[{"id":6174,"nome":"A
          Little to the Left: Drawers","slug":"a-little-to-the-left-drawers","logo":"common\/uploads\/icons\/581c125a3902f57bdf400b5f7a26b0c1.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-581c125a3902f57bdf400b5f7a26b0c1.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-a-little-to-the-left-drawers-minireview-0442938.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-a-little-to-the-left-drawers-minireview-0442938.webp","nota":"7.0","usuario_favorito":false,"categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":11,"nome":"Casual","slug":"casual","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"A
          Little to the Left: Drawers is the sequel to a unique and engaging sorting
          puzzle game that delivers more of the same, but in a smaller package.\r\n\r\nThe
          goal is to neatly organize everything on screen, such as items in a kitchen
          drawer or a cupboard with tea and cakes. There are no instructions on what
          to do, and every item can be freely moved around.\r\n\r\nEvery level starts
          out as a mess of items, which we must sort in a way th[...]
