interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?page=1&limit=1&orderBy=last-added-reviews
    response:
      body:
        string:
          '{"data":[{"id":6145,"nome":"Ninja Party: Team Up & Brawl","slug":"ninja-party-team-up-brawl","logo":"common\/uploads\/icons\/1207633462c0da907c03ba93328277b2.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-1207633462c0da907c03ba93328277b2.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-sem-titulo-1-6936244.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titulo-1-6936244.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":"7.0","usuario_favorito":false,"categoria":{"id":1,"nome":"Action","slug":"action"},"categorias":[{"id":1,"nome":"Action","slug":"action","type":"category"},{"id":56,"nome":"Battle
          Royale","slug":"battle-royale","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Ninja
          Party is a quirky mix of battle royale chaos and casual party brawler action
          with colorful stages, wacky parkour-like physics, and a fun two-player co-op
          multiplayer PvP mode.\r\n\r\nEach match throws us and 7 other players into
          one of several arenas that are full of hazards to avoid, obstacles to climb,
          and weapons to pick up as we jump around hitting the enemies to score points.\r\n\r\nThe
          zany concept is wacky and fun, and I o[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?game_id=6145&page=1&limit=1
    response:
      body:
        string:
          '{"data":[{"id":5779,"nome":"Squid Game: Unleashed","slug":"squid-game-unleashed","logo":"common\/uploads\/icons\/72b2e237e35f6815d4037cad3c16c1cd.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-72b2e237e35f6815d4037cad3c16c1cd.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-new-projec23-15-v3426832072332319-7293173.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-new-projec23-15-v3426832072332319-7293173.webp","usuario_favorito":false,"usuario_votou":null,"categoria":{"id":1,"nome":"Action","slug":"action"},"categorias":[{"id":1,"nome":"Action","slug":"action","type":"category"},{"id":56,"nome":"Battle
          Royale","slug":"battle-royale","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Squid
          Game: Unleashed is a last-man-standing multiplayer action game heavily inspired
          by Fall Guys and Roblox obstacle maps &ndash; and so far the only Netflix
          game that doesn&rsquo;t require a Netflix subscription.\r\n\r\nThe game tasks
          us with surviving a series of increasingly chaotic physics-based obstacle
          course levels full of moving platforms, spinning hazards, trapdoors, and more.\r\n\r\nThe
          goal is simple: reach the finish line before elimination. H[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games/squid-game-unleashed?getBy=slug&category=action
    response:
      body:
        string:
          '{"data":{"id":5779,"nome":"Squid Game: Unleashed","slug":"squid-game-unleashed","logo":"common\/uploads\/icons\/72b2e237e35f6815d4037cad3c16c1cd.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-72b2e237e35f6815d4037cad3c16c1cd.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-506-new-projec23-15-v3426832072332319-7293173.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-new-projec23-15-v3426832072332319-7293173.webp","nota":6,"total_avaliacoes":1,"usuario_favorito":false,"usuario_avaliou":false,"disponivel_android":true,"disponivel_ios":true,"android_morto":false,"android_morto_data":null,"ios_morto":false,"ios_morto_data":null,"preco_android":"Free","preco_ios":"Free","link_android":"https:\/\/play.google.com\/store\/apps\/details?id=com.netflix.NGP.ProjectKraken&referrer=utm_source%3DMiniReview","link_ios":"https:\/\/apps.apple.com\/us\/app\/id6498719476?ct=MiniReview","categoria":{"id":1,"nome":"Action","slug":"action"},"subcategoria":{"id":1,"nome":"Battle
          Royale","slug":"battle-royale"},"categorias":[{"id":1,"nome":"Action","slug":"action","type":"category"},{"id":56,"nome":"Battle
          Royale","slug":"battle-royale","type":"subcategory"}],"top_game":{"nome":"The
          23 best Sci-Fi games on Mobile 2025","slug":"best-scifi-games-mobile","text":"very
          best sci-fi games"},"our_picks":false,"game_of_the_week":false,"galeria":[{"imagem":"\/common\/uploads\/cache\/review\/5--322-screenshot-2025-01-14-20-16-35-637-com-n-7059723.webp","imagem_preloader":"\/common\/uploads\/cache\/review\/5--14-screenshot-2025-01-14-20-16-35-637-com-n-7059723.webp","imagem_zoom":"common\/uploads\/review\/screenshot-2025-01-14-20-16-35-637-com-n-7059723.jpg","width":595,"height":268},{"imagem":"\/common\/uploads\/cache\/review\/5--322-screenshot-2025-01-14-20-27-19-624-com-n-7059720.webp","imagem_preloader":"\/common\/uploads\/cache\/review\/5--14-screenshot-2025-01-14-20-27-19-624-com-n-7059720.webp","imagem_zoom":"common\/uploads\/review\/screenshot-2025-01-14-20-27-19-624-com-n-7059720.jpg","width":595,"height":268},{"imagem":"\/common\/uploads\/cache\/review\/5--322-screenshot-2025-01-14-20-17-06-421-com-n-7059723.webp","imagem_preloader":"\/common\/uploads\/cache\/[...]
