interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?limit=1
    response:
      body:
        string:
          '{"data":[{"id":6197,"nome":"Mechanical Lab","slug":"mechanical-lab","logo":"https:\/\/play-lh.googleusercontent.com\/GCFJqnU1uTSPRvUeN2BLuvcy0qRtAtbkiFJRGUSbt84WPo9jVW6j-sMdKOINGpNK8tg","logo_preloader":"https:\/\/play-lh.googleusercontent.com\/GCFJqnU1uTSPRvUeN2BLuvcy0qRtAtbkiFJRGUSbt84WPo9jVW6j-sMdKOINGpNK8tg","thumb":"\/common\/uploads\/cache\/review\/1-900-498-sem-titdssdsdulo-1-9773232.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titdssdsdulo-1-9773232.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":null,"usuario_favorito":false,"categoria":{"id":13,"nome":"Simulation","slug":"simulation"},"categorias":[{"id":13,"nome":"Simulation","slug":"simulation","type":"category"},{"id":27,"nome":"Physics-Based","slug":"physics-based","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":false,"descricao":"Mechanical
          Lab is a paid 2D Simulation Physics-Based game available on Android. It\u2019s
          a singleplayer experience that can be played offline in landscape mode. Mechanical
          Lab was released in June 2025.","morto_data":null,"pick_data":null,"semana":null,"galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-6-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-6-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-6-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-7-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-7-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-7-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-5-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-5-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-5-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-1-9442480.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-1-9442480.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-1-9442480.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-8-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-8-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-8-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-9-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-9-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-9-9442481.jpg"}],"price":"$5.49"}],"page":1,"filtros":[{"nome":"Players","slug":"players","icon":"icon-filters-players","tipo":"lista","itens":[{"nome":"Singleplayer","slug":"singleplayer","total":null,"descricao":"","can_exclude":false,"value":null},{"nome":"Multiplayer","slug":"multiplayer","total":null,"descricao":"","can_exclude":false,"value":null},{"nome":"PvE","slug":"pve","total":null,"descricao":null,"can_exclude":true,"value":null},{"nome":"PvP","slug":"pvp","total":null,"descricao":"","can_exclude":true,"value":null},{"nome":"Real-time
          PvP","slug":"real-time-pvp","total":null,"descricao":null,"can_exclude":true,"value":null},{"nome":"Co-op","slug":"co-op","total":null,"descricao":null,"can_exclude":true,"value":nul[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?page=1&limit=1&orderBy=last-added-reviews
    response:
      body:
        string:
          '{"data":[{"id":6168,"nome":"QB - a cube''s tale","slug":"qb-a-cube-s-tale","logo":"common\/uploads\/icons\/965b0c8a96aad0efaa3e6b72ba7f5c28.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-965b0c8a96aad0efaa3e6b72ba7f5c28.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-ratings?game_id=6168&page=1&type=newest&limit=1&orderBy=newest
    response:
      body:
        string:
          '{"data":[{"id":12645,"tipo":"positivo","data":"2025-10-18T16:36:27-03:00","texto":"Fun
          puzzler. Seems pretty linear at first, but around lvl 30 the different blocks
          are introduced and at least the three star solution no longer obvious. Simple,
          solid, challenging.","texto_original":"Fun puzzler. Seems pretty linear at
          first, but around lvl 30 the different blocks are introduced and at least
          the three star solution no longer obvious. Simple, solid, challenging.","pontuacao":"1","usuario_votou":null,"usuario":{"id":5164,"avatar":"\/common\/uploads\/cache\/appuser\/1-76-76-1000043664-748805.webp","username":"relet","slug":"relet","nome":"relet","sobre":"150
          character limit","sobre_original":"150 character limit","data_cadastro":"2021-05-24
          23:48:39","score":582,"total_avaliacoes":348,"total_favoritos":11,"pais_nome":"Norway","pais_sigla":"NO"}}],"page":1,"total":1,"total_positivo":1,"total_negativo":0,"porcento":0,"usuario_avaliacao":null,"ultima_pagina":true}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
