interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?limit=1
    response:
      body:
        string:
          '{"data":[{"id":6197,"nome":"Mechanical Lab","slug":"mechanical-lab","logo":"https:\/\/play-lh.googleusercontent.com\/GCFJqnU1uTSPRvUeN2BLuvcy0qRtAtbkiFJRGUSbt84WPo9jVW6j-sMdKOINGpNK8tg","logo_preloader":"https:\/\/play-lh.googleusercontent.com\/GCFJqnU1uTSPRvUeN2BLuvcy0qRtAtbkiFJRGUSbt84WPo9jVW6j-sMdKOINGpNK8tg","thumb":"\/common\/uploads\/cache\/review\/1-900-498-sem-titdssdsdulo-1-9773232.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-sem-titdssdsdulo-1-9773232.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":null,"usuario_favorito":false,"categoria":{"id":13,"nome":"Simulation","slug":"simulation"},"categorias":[{"id":13,"nome":"Simulation","slug":"simulation","type":"category"},{"id":27,"nome":"Physics-Based","slug":"physics-based","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":false,"descricao":"Mechanical
          Lab is a paid 2D Simulation Physics-Based game available on Android. It\u2019s
          a singleplayer experience that can be played offline in landscape mode. Mechanical
          Lab was released in June 2025.","morto_data":null,"pick_data":null,"semana":null,"galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-6-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-6-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-6-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-7-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-7-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-7-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-5-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-5-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-5-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-1-9442480.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-1-9442480.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-1-9442480.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-8-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-8-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-8-9442481.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-9-9442481.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-9-9442481.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-9-9442481.jpg"}],"price":"$5.49"}],"page":1,"filtros":[{"nome":"Players","slug":"players","icon":"icon-filters-players","tipo":"lista","itens":[{"nome":"Singleplayer","slug":"singleplayer","total":null,"descricao":"","can_exclude":false,"value":null},{"nome":"Multiplayer","slug":"multiplayer","total":null,"descricao":"","can_exclude":false,"value":null},{"nome":"PvE","slug":"pve","total":null,"descricao":null,"can_exclude":true,"value":null},{"nome":"PvP","slug":"pvp","total":null,"descricao":"","can_exclude":true,"value":null},{"nome":"Real-time
          PvP","slug":"real-time-pvp","total":null,"descricao":null,"can_exclude":true,"value":null},{"nome":"Co-op","slug":"co-op","total":null,"descricao":null,"can_exclude":true,"value":nul[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?page=1&limit=1&orderBy=last-added-reviews
    response:
      body:
        string:
          '{"data":[{"id":6168,"nome":"QB - a cube''s tale","slug":"qb-a-cube-s-tale","logo":"common\/uploads\/icons\/965b0c8a96aad0efaa3e6b72ba7f5c28.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-965b0c8a96aad0efaa3e6b72ba7f5c28.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?game_id=6168&page=1&limit=1&monetization=most-popular
    response:
      body:
        string:
          '{"data":[{"id":5317,"nome":"Teeny Tiny Trains","slug":"teeny-tiny-trains","logo":"common\/uploads\/icons\/be2dcada44bac193aae5941836f93a31.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-be2dcada44bac193aae5941836f93a31.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-3333333333333-4400895.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-3333333333333-4400895.webp","usuario_favorito":false,"usuario_votou":null,"categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":11,"nome":"Casual","slug":"casual","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Teeny
          Tiny Trains is a free trial 3D Puzzle Casual game available on Android and
          iOS. It\u2019s a singleplayer experience that can be played both offline and
          online in landscape mode. Teeny Tiny Trains was released[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games/teeny-tiny-trains?getBy=slug&category=puzzle
    response:
      body:
        string:
          '{"data":{"id":5317,"nome":"Teeny Tiny Trains","slug":"teeny-tiny-trains","logo":"common\/uploads\/icons\/be2dcada44bac193aae5941836f93a31.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-be2dcada44bac193aae5941836f93a31.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-506-3333333333333-4400895.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-3333333333333-4400895.webp","nota":0,"total_avaliacoes":0,"usuario_favorito":false,"usuario_avaliou":false,"disponivel_android":true,"disponivel_ios":true,"android_morto":false,"android_morto_data":null,"ios_morto":false,"ios_morto_data":null,"preco_android":"Free
          Trial","preco_ios":"Free Trial","link_android":"https:\/\/play.google.com\/store\/apps\/details?id=com.shortcircuitstudio.teenytinytrains&referrer=utm_source%3DMiniReview","link_ios":"https:\/\/apps.apple.com\/us\/app\/id6476918116?ct=MiniReview","categoria":{"id":9,"nome":"Puzzle","slug":"puzzle"},"subcategoria":{"id":9,"nome":"Casual","slug":"casual"},"categorias":[{"id":9,"nome":"Puzzle","slug":"puzzle","type":"category"},{"id":11,"nome":"Casual","slug":"casual","type":"subcategory"}],"top_game":{"nome":"The
          22 best puzzle games on mobile 2025","slug":"best-puzzle-games-on-mobile","text":"best
          puzzle games"},"our_picks":false,"game_of_the_week":false,"galeria":[{"imagem":"\/common\/uploads\/cache\/review\/5--322-a-2-2618846.webp","imagem_preloader":"\/common\/uploads\/cache\/review\/5--14-a-2-2618846.webp","imagem_zoom":"common\/uploads\/review\/a-2-2618846.jpg","width":580,"height":268},{"imagem":"\/common\/uploads\/cache\/review\/5--322-a-3-2618847.webp","imagem_preloader":"\/common\/uploads\/cache\/review\/5--14-a-3-2618847.webp","imagem_zoom":"common\/uploads\/review\/a-3-2618847.jpg","width":580,"height":268},{"imagem":"\/common\/uploads\/cache\/review\/5--322-a-1-2618846.webp","imagem_preloader":"\/common\/uploads\/cache\/review\/5--14-a-1-2618846.webp","imagem_zoom":"common\/uploads\/review\/a-1-2618846.jpg","width":580,"height":268},{"imagem":"\/common\/uploads\/cac[...]
