interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/home?page=1&orderBy=last-added-reviews&platforms%5B0%5D=android&platforms%5B1%5D=ios
    response:
      body:
        string:
          '{"data":[{"tipo":"jogos","titulo":"Last added reviews","slug":"last-added-reviews","link":"\/browse?sort=last-added-reviews","itens":[{"id":5022,"nome":"Reverse:
          1999 - 2nd Anniv.","slug":"reverse-1999","logo":"common\/uploads\/icons\/548fc28284a08410289a3ed2476b417d.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-548fc28284a08410289a3ed2476b417d.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-reverse-1999-3271055.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-reverse-1999-3271055.webp","nota":"8.3","usuario_favorito":false,"categoria":{"id":30,"nome":"Gacha","slug":"gacha"},"categorias":[{"id":30,"nome":"Gacha","slug":"gacha","type":"category"},{"id":35,"nome":"Role
          Playing","slug":"role-playing","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Reverse:
          1999 is a fun turn-based RPG with a Slay the Spire-style card combat system
          and a unique twist that makes it stand out from other card battlers.\r\n\r\nWe
          play as a timekeeper who leads a team of three heroes into battle by playing
          cards that represent the characters&rsquo; moves, of which each have two normal
          ones and an ultimate. During our turn, we draw up to seven of these cards
          from our deck, and then place three of them [...]
