interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?limit=1
    response:
      body:
        string:
          '{"data":[{"id":6193,"nome":"Just King","slug":"just-king","logo":"common\/uploads\/icons\/cf1dec6b49c049365040c750ca46c357.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-cf1dec6b49c049365040c750ca46c357.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-new-project-18-9270856.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-new-project-18-9270856.webp","avaliacoes_total":0,"avaliacoes_positivas_porcento":0,"nota":null,"usuario_favorito":false,"categoria":{"id":37,"nome":"Auto
          Battler","slug":"auto-battler"},"categorias":[{"id":37,"nome":"Auto Battler","slug":"auto-battler","type":"category"},{"id":34,"nome":"Roguelike","slug":"roguelike","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":false,"descricao":"Just
          King is a paid 2D Auto Battler Roguelike game available on Android. It\u2019s
          a single and multiplayer experience that can be played both offline and online
          in landscape mode. Just King was released in August 2025 and has a current
          rating of 3.3 out of 5.0 on Google Play.","morto_data":null,"pick_data":null,"semana":null,"galeria":[{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-1-9270225.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-1-9270225.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-1-9270225.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-2-9270226.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-2-9270226.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-2-9270226.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-3-9270226.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-3-9270226.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-3-9270226.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-4-9270226.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-4-9270226.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-4-9270226.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-5-9270226.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-5-9270226.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-5-9270226.jpg"},{"imagem":"\/thumb\/review\/1\/696\/322\/webp\/a-6-9270226.jpg","imagem_preloader":"\/thumb\/review\/1\/30\/14\/webp\/a-6-9270226.jpg","imagem_zoom":"\/thumb\/review\/5\/1500\/1500\/webp\/a-6-9270226.jpg"}],"price":"$4.99"}],"page":1,"filtros":[{"nome":"Players","slug":"players","icon":"icon-filters-players","tipo":"lista","itens":[{"nome":"Singleplayer","slug":"singleplayer","total":null,"descricao":"","can_exclude":false,"value":null},{"nome":"Multiplayer","slug":"multiplayer","total":null,"descricao":"","can_exclude":false,"value":null},{"nome":"PvE","slug":"pve","total":null,"descricao":null,"can_exclude":true,"value":null},{"nome":"PvP","slug":"pvp","total":null,"descricao":"","can_exclude":true,"value":null},{"nome":"Real-time
          PvP","slug":"real-time-pvp","total":null,"descricao":null,"can_exclude":true,"value":null},{"nome":"Co-op","slug":"co-op","total":null,"descricao":null,"can_exclude":true,"value":nul[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games?page=1&limit=1&search=&orderBy=last-added-reviews
    response:
      body:
        string:
          '{"data":[{"id":5184,"nome":"Lunar Silver Star Story Touch","slug":"lunar-silver-star-story-touch","logo":"common\/uploads\/icons\/bf3b6984e0ddff6d036292de573ff54f.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-bf3b6984e0ddff6d036292de573ff54f.webp","thumb":"\/common\/upl[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://minireview.io/apiv2/games-similar?from_page=game-page&game_id=5184&page=1&limit=1&orderBy=most-popular
    response:
      body:
        string:
          '{"data":[{"id":706,"nome":"Coromon","slug":"coromon","logo":"common\/uploads\/icons\/174b6c7e809786e204c852b3f6503724.webp","logo_preloader":"\/common\/uploads\/cache\/icons\/1-30-30-174b6c7e809786e204c852b3f6503724.webp","thumb":"\/common\/uploads\/cache\/review\/1-900-498-68a9fac0076306154ad0c1f0f9520aed.webp","thumb_preloader":"\/common\/uploads\/cache\/review\/1-30-17-68a9fac0076306154ad0c1f0f9520aed.webp","usuario_favorito":false,"usuario_votou":null,"categoria":{"id":12,"nome":"Role
          Playing","slug":"role-playing"},"categorias":[{"id":12,"nome":"Role Playing","slug":"role-playing","type":"category"},{"id":3,"nome":"Adventure","slug":"adventure","type":"subcategory"}],"disponivel_android":true,"disponivel_ios":true,"descricao":"Coromon
          is a high-quality story driven Pok\u00e9mon-inspired (not a direct clone)
          tactical RPG indie game with 120+ monsters to catch and evolve, amazing soundtracks,
          lots o[...]
